<ion-view view-title="地点详细信息" initialisation>
    <ion-content>
        <ion-scroll class="list">
            <span class="item item-avatar" ng-repeat="location in location.list">
                <input style="width:3em;height:3em;" type="checkbox"  value="{{location._id}}" selectlocation/>
                <a style="text-decoration:none;color:black;" href="#/app/playlists/{{location._id}}">
                {{location.name}}
                </a>
            </span>
        </ion-scroll>
    </ion-content>
    <ion-tabs class="bar bar-footer">
        <ion-tab title="Record" icon-off="ion-ios-list" icon-on="ion-ios-list-outline" ng-click="getLocationList()">
        </ion-tab>
        <ion-tab title="Verify" icon-off="ion-ios-lightbulb" icon-on="ion-ios-lightbulb-outline" ng-click="verifyAuthentication()">
        </ion-tab>
    </ion-tabs>
</ion-view>
